main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 0.5rem;
}

.form input,
.form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 0.8rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:disabled{
    background-color: #007bff65;
}

.container {
    display: flex;
    align-items: center;
}

.container input {
    flex-grow: 1;
}

.container select {
    flex-grow: 1;
}

.checkmark {
    margin-left: 5px;
}